html {
    scroll-behavior: smooth;
}


/* width */

::-webkit-scrollbar {
    width: 0.5rem;
}


/* Track */

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 2rem;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #C3B7ED;
    border-radius: 2rem;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #7b0c7a;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.navWrapper {
    display: flex;
    justify-content: space-around;
    background-color: rgb(233, 210, 255);
    position: sticky;
    top: 0;
    width: 100%;
    /* border-bottom: 1px solid #0087ca; */
    /* box-shadow: 5px 10px 8px rgb(123, 12, 122, 0.1); */
    box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.1);
    z-index: 3;
}

.leftbar {
    display: flex;
    height: 5rem;
    justify-content: space-around;
    align-items: center;
    margin-left: 50px;
}

.leftbar img {
    width: 200px;
    height: 5rem;
    margin-right: 10px;
}

.leftbar a {
    text-decoration: none;
    margin-right: 30px;
    font-size: 1rem;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.rightbar {
    display: flex;
    height: 5rem;
    justify-content: space-around;
    align-items: center;
    margin-right: 50px;
}

.rightbar a {
    text-decoration: none;
    margin-right: 30px;
    font-size: 1rem;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #0087ca;
}

.login {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    padding: 20px;
    transition: 0.5s;
}

.login:hover {
    background-color: rgba(255, 255, 255);
    transform: scale(1.2);
    color: #7b0c7a;
}

.signup {
    background-color: rgb(27, 26, 28, 0.1);
    border-radius: 20px;
    padding: 20px;
    transition: 0.5s;
}

.signup:hover {
    background-color: rgba(255, 255, 255);
    transform: scale(1.2);
    color: #7b0c7a;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #0087ca;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.home {
    display: flex;
    justify-content: space-evenly;
    padding-top: 3rem;
}

.mockup {
    width: 35em;
    height: 20em;
    background: rgb(200, 233, 236);
    background: linear-gradient(90deg, rgb(164, 223, 252) 0%, rgba(236, 191, 255, 1) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2rem;
}

.mockup img {
    width: 15rem;
    height: 18rem;
    border-radius: 30px;
    margin-right: 1em;
}

.mockupText {
    display: flex;
    flex-direction: column;
}

.mockupText a,
.contactUs a {
    color: #7b0c7a;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    font-family: 'lora', serif;
}

.btn a {
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    margin: auto;
    text-decoration: none;
}

.btn {
    background-color: #C3B7ED;
    margin-top: 2rem;
    text-align: center;
    border-radius: 1rem;
    padding: 1.5rem;
    width: 10rem;
    margin-left: 3.5rem;
    transition: 0.5s;
}

.mockupText .btn:hover {
    background-color: rgba(255, 255, 255);
    transform: scale(1.2);
    color: #7b0c7a;
}

.downloadOption a {
    text-decoration: none;
    font-size: 1rem;
}

.fa-solid {
    background-color: rgb(206, 159, 242, 0.5);
    border-radius: 50%;
    padding: 10px;
    font-size: 15px;
}

.gridcontainer {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 10px;
    margin-top: 20px;
    grid-template-areas: 'download likes' 'download users';
}

.griditemlikes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: likes;
    background-color: #C3B7ED;
    height: 50px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.griditemusers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: users;
    background-color: #C1D2F4;
    height: 50px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.griditemdownload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: download;
    height: 110px;
    background-color: #F7C5F6;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px
}

.store {
    margin-top: 20px;
}

.gridStore {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 10px;
    margin-top: 20px;
    grid-template-areas: 'AppStore PlayStore' 'AppStore PlayStore';
}

.gridAppStore {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: AppStore;
    height: 90px;
    background-color: rgb(206, 159, 242, 0.5);
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.gridPlayStore {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: PlayStore;
    height: 90px;
    background-color: rgb(206, 159, 242, 0.5);
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.gridStore a {
    text-decoration: none;
    font-size: 1.3rem;
}

.gridStore i {
    font-size: 1.8rem;
    margin-right: 5px;
}

.aboutUs {
    display: flex;
    justify-content: space-evenly;
    padding: 7.25rem 3rem 0 3rem;
}

.aboutUs img {
    width: 35em;
    height: 20em;
    margin-right: 3em;
}

.aboutUs .aboutUs-rightContent,
.ourApp .ourApp-leftcontent,
.contactUs .contactUs-rightcontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #7b0c7a;
}

.title {
    color: #7b0c7a;
    font-family: cursive;
    font-weight: bolder;
    font-size: 3em;
    margin-bottom: 1em;
}

.aboutUs .aboutUs-rightContent .para,
.ourApp .para {
    font-weight: lighter;
    font-size: 1.2em;
    text-align: center;
    letter-spacing: 0.05em;
    line-height: 1.5;
    margin-right: auto;
}

.ourApp {
    display: flex;
    color: #7b0c7a;
    justify-content: space-evenly;
    align-items: center;
}

.ourApp img {
    width: 45em;
    height: 30em;
}

.ourApp .para {
    margin-left: 3em;
}

.contactUs {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contactUs img {
    width: 35em;
    height: 20em;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.email,
.phone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.email a,
.phone a {
    font-size: 1.5rem;
    margin-left: 1rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    margin-bottom: 1rem;
}

.footer {
    background-color: #C3B7ED;
    width: 100%;
    font-size: 0.8rem;
    color: white;
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}